//
// Animation 01 - Notification Menu - IN left w opacity

.a01-base {
	transition: 0.2s ease-in-out all;
	transform: translateX(22rem);
	opacity: 0;
}

.a01 {
	opacity: 1;
	transform: translateX(0);
}

//
// Animation 02 - Wallpapers - Zoom IN-OUT w opacity

.a02-base {
	transition: 0.15s ease-in-out all;
	transform: scale(0.8);
	opacity: 0;

	@media screen and (max-width: $littlescreen) {
		transition: none;
		transform: scale(1);
		opacity: 1;
	}
}

.a02 {
	opacity: 1;
	transform: scale(1);
}

//
// Animation 03 - Taskbar Icon & Window Apps - Zoom IN-OUT w opacity

.a03-base {
	transition: 0.2s ease-in-out all;
	transform: scale(0.8);
	opacity: 0;
}

.a03 {
	opacity: 1;
	transform: scale(1);
}

//
// Animation 04 - Taskbar Startup - IN bottom w opacity

.a04-base {
	transition: 1s ease-in-out all;
	transform: translateY(120%);
	opacity: 0;
}

.a04 {
	opacity: 1;
	transform: translateY(0);
}

//
// Animation 05 - Power Screen - Zoom OUT w opacity

.a05-base {
	transition: 0.3s ease-in-out all;
	opacity: 1;

	@media screen and (max-width: $littlescreen) {
		transition: none;
		opacity: 1;
	}
}

.a05 {
	opacity: 0;

	@media screen and (max-width: $littlescreen) {
		opacity: 1;
	}
}
