body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	background-color: black;

	font-family: "Roboto", sans-serif;
	color: white;
}

.desktop-all {
	height: 100vh;
	width: 100vw;

	z-index: 1;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.wallpaper {
	height: 100vh;
	width: 100vw;

	position: absolute;
	top: 0%;
	left: 0%;
}

// CSS Condition

.hidden {
	display: none !important;
}

.unselect {
	user-select: none !important;
}

// Wallpapers

.wallpaper01 {
	background-image: url("../../assets/img/W-05.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wallpaper02 {
	background-image: url("../../assets/img/W-01.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wallpaper03 {
	background-image: url("../../assets/img/W-06.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wallpaper04 {
	background-image: url("../../assets/img/W-08.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

// Media Query

$littlescreen: 425px;
