body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	background-color: black;

	font-family: "Roboto", sans-serif;
	color: white;
}

.desktop-all {
	height: 100vh;
	width: 100vw;

	z-index: 1;
}

// CSS Condition

.hidden {
	display: none !important;
}

.unselect {
	user-select: none !important;
}

// Wallpapers

.wallpaper03 {
	background-image: url("../../../assets/img/W-01.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wallpaper02 {
	background-image: url("../../../assets/img/W-02.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wallpaper01 {
	background-image: url("../../../assets/img/W-03.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

// Media Query

$littlescreen: 425px;
