$bg-Sys-BlackTransp: rgba(0, 0, 0, 0.9);

$bg-notification-area: rgba(196, 196, 196, 0.2);
$bg-notification-area-hover: rgba(255, 255, 255, 0.25);

$white: rgb(255, 255, 255);

// App windows - Black Theme

$bg-window-th-black: rgb(30, 30, 30);

$bg-w-bar-th-black: rgb(0, 0, 0);
