$bg-Sys-BlackTransp: rgba(0, 0, 0, 0.86);

$bg-notification-area: rgba(196, 196, 196, 0.2);
$bg-notification-area-hover: rgba(255, 255, 255, 0.25);

$white: rgb(255, 255, 255);

// App windows - Black Theme

$bg-window-th-black: rgb(30, 30, 30);

$bg-w-bar-th-black: rgb(10, 10, 10);

$bg-w-controller: rgba(110, 110, 110, 0.4);

$bg-w-controller-close: rgb(160, 0, 0);
