@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

.desktop-all {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.unselect {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.wallpaper02 {
  background-image: url("../../assets/img/W-01.jpg");
  background-position: top center;
  background-size: 100% 100%;
}

.wallpaper01 {
  background-image: url("../../assets/img/W-02.jpg");
  background-position: top center;
  background-size: 100% auto;
}

.wallpaper03 {
  background-image: url("../../assets/img/W-03.jpg");
  background-position: top center;
  background-size: 100% auto;
}

.taskbar {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 34px 34px 0px 0px;
  width: 100%;
  height: 3.8rem;
  position: absolute;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.start-btn {
  margin-left: 1.4rem;
  height: 2.4rem;
  width: auto;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.start-btn:hover {
  height: 2.6rem;
  width: auto;
}

.notification-area {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 50px;
  width: 12rem;
  height: 2.4rem;
  margin-right: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.notification-area:hover {
  background: rgba(255, 255, 255, 0.25);
}

.wifi-taskbar,
.volume-taskbar,
.battery-taskbar {
  height: 1.2rem;
  width: auto;
}

.clock-taskbar {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 0.1rem;
}

.taskbar-icon {
  position: absolute;
  left: 48%;
}

.app-taskbar-icon {
  margin-top: 0.6rem;
  height: 2.8rem;
  width: auto;
}

.notification-menu {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  height: 26rem;
  width: 21rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  right: 1.4rem;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 21;
}

/* ----------------------------------------------------------------- */
.notif-menu-info {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notif-menu-text {
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 1.2rem;
}

.notif-menu-wifi,
.notif-menu-battery {
  height: 1.2rem;
  width: auto;
}

.notif-menu-battery-level {
  font-size: 1.2rem;
}

.notif-menu-config {
  height: 95%;
  width: auto;
}

/* ----------------------------------------------------------------- */
.notif-menu-clock {
  font-size: 6.5rem;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----------------------------------------------------------------- */
.notif-menu-selectors {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wifi-network,
.wallpaper-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 50%;
  height: 100%;
}

.selectors-icon {
  height: 58%;
  width: auto;
  padding: 0.4rem;
  border-radius: 10px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.selectors-icon:hover {
  height: 58%;
  width: auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 0.4rem;
}

.selectors-text {
  margin-top: 0.5rem;
}

/* ----------------------------------------------------------------- */
.notif-menu-audio {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-volume-selector {
  background: none;
  width: 80%;
}

/* -------- Input Range Format -------- */
input[type="range"] {
  display: block;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: white;
  width: 12px;
  height: 12px;
  /* border: 3px solid #333; */
  border: none;
  border-radius: 50%;
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
  background-color: white;
  width: 12px;
  height: 12px;
  /* border: 3px solid #333; */
  border: none;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  background-color: white;
  width: 12px;
  height: 12px;
  /* border: 3px solid #333; */
  border: none;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  height: 2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background-color: white;
  height: 2px;
}

input[type="range"]::-ms-track {
  background-color: white;
  height: 2px;
}

.input-disabled::-webkit-slider-thumb {
  background-color: white !important;
}

.input-disabled::-moz-range-thumb {
  background-color: white !important;
}

.input-disabled::-ms-thumb {
  background-color: white !important;
}

/* ----------------------------------------------------------------- */
.app-desktop-icon {
  position: absolute;
  top: 40%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.app-desktop-icon-logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.app-desktop-icon-logo:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.app-desktop-icon-img {
  height: 1.6rem;
  width: auto;
}

.app-desktop-icon-name {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.app-windows {
  width: 40rem;
  height: 35rem;
  position: absolute;
  top: 8%;
  left: 28%;
  background-color: #1e1e1e;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-bar {
  width: 100%;
  height: 2.2rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-controllers {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.wc-close {
  padding-right: 1.2rem;
}

.app-container,
.app-deploy {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */