//------------------------------------------------------

.icons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	width: 50vw;
	max-height: 80vh;

	z-index: 3;

	@media screen and (max-width: $littlescreen) {
		width: 98vw;
		max-height: 90vh;
		top: 10%;
	}
}

//------------------------------------------------------

.app-desktop-icon {
	margin: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 140px;

	@media screen and (max-width: $littlescreen) {
		margin: 0.5rem;
	}
}

.app-desktop-icon-img {
	height: 4rem;
	width: auto;
	border-radius: 50%;

	background: $white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);

	transition: 200ms ease-in-out;
	&:hover {
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
	}
}

.app-desktop-icon-name {
	margin-top: 0.6rem;

	width: 6rem;

	font-size: 1rem;
	font-style: normal;
	text-align: center;

	color: $white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);

	transition: 200ms ease-in-out;
	&:hover {
		text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
	}
}
