.taskbar {
	background: $bg-Sys-BlackTransp;
	border-radius: 40px 40px 0px 0px;

	width: 100%;
	height: 4rem;

	position: absolute;
	bottom: 0%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: 20;
}

.start-btn {
	margin-left: 1.4rem;
	height: 2.5rem;
	width: auto;

	transition: 100ms ease-in-out;
	&:hover {
		height: 2.6rem;
		width: auto;
	}
}

.notification-area {
	background: $bg-notification-area;
	border-radius: 50px;

	width: 14rem;
	height: 2.5rem;

	margin-right: 1.4rem;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	transition: 100ms ease-in-out;
	&:hover {
		width: 14.1rem;
		height: 2.6rem;
	}
}

.wifi-taskbar,
.volume-taskbar,
.battery-taskbar {
	height: 1.2rem;
	width: auto;
}

.clock-taskbar {
	font-size: 1.5rem;
	font-weight: normal;
	margin-top: 0.1rem;
}
