.taskbar {
	background: $bg-Sys-BlackTransp;
	border-radius: 34px 34px 0px 0px;

	width: 100%;
	height: 3.8rem;

	position: absolute;
	bottom: 0%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: 20;
}

.start-btn {
	margin-left: 1.4rem;
	height: 2.4rem;
	width: auto;

	transition: 100ms ease-in-out;
	&:hover {
		height: 2.6rem;
		width: auto;
	}
}

.notification-area {
	background: $bg-notification-area;
	border-radius: 50px;

	width: 12rem;
	height: 2.4rem;

	margin-right: 1.4rem;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	transition: 200ms ease-in-out;
	&:hover {
		background: $bg-notification-area-hover;
	}
}

.wifi-taskbar,
.volume-taskbar,
.battery-taskbar {
	height: 1.2rem;
	width: auto;
}

.clock-taskbar {
	font-size: 1.1rem;
	font-weight: normal;
	margin-top: 0.1rem;
}

.taskbar-icon {
	position: absolute;
	left: 48%;
}

.app-taskbar-icon {
	margin-top: 0.6rem;
	height: 2.8rem;
	width: auto;
}
