.app-windows {
	height: 75vh;
	width: 60vw;

	position: absolute;
	top: 3rem;
	left: 20vw;

	background-color: $bg-window-th-black;

	z-index: 3;

	display: flex;
	flex-direction: column;
}

.w-bar {
	width: 100%;
	height: 2.2rem;

	background-color: $bg-w-bar-th-black;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.w-title {
	position: absolute;
	left: 1rem;

	font-size: 0.8rem;
}

.w-controllers {
	height: 2.2rem;
	width: auto;
	margin-top: 0.2rem;
	margin-left: -0.25rem;

	transition: 200ms ease-in-out;
	&:hover {
		background: $bg-w-controller;
	}
}

.wc-close {
	transition: 200ms ease-in-out;
	&:hover {
		background: $bg-w-controller-close;
	}
}

.app-container,
.app-deploy,
.app-iframe {
	height: 100%;
	width: 100%;
}

.app-iframe {
	border-style: none;
}
