.app-windows {
	height: 75vh;
	width: 80vw;

	position: absolute;
	top: 6vh;
	left: 10vw;

	background-color: $bg-window-th-black;

	z-index: 3;

	display: flex;
	flex-direction: column;
}

.w-bar {
	width: 100%;
	height: 2.2rem;

	background-color: $bg-w-bar-th-black;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.w-controllers {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.wc-close {
	padding-right: 1.2rem;
}

.app-container,
.app-deploy,
.app-iframe {
	height: 100%;
	width: 100%;
}

.app-iframe {
	border-style: none;
}
